[Desktop Entry]
Version=1.0
Name=Monitro
GenericName=System Monitor
Comment=Cross-platform local system observability platform
Exec=/opt/Monitro/monitro
Icon=monitro
Terminal=false
Type=Application
Categories=System;Utility;
